{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "curly": ["error", "multi"],
    "no-console": "off",
    "prettier/prettier": ["error", { "endOfLine": "auto" }, { "usePrettierrc": true }],
    "sort-keys": "warn"
  }
}
